PORT=8003
MONGODB_URL="your-mongodb-url"
GOOGLE_API_KEY="your-google-gemini-api-key"
CHAT_SERVICE="http://localhost:8002"
AUTH_SERVICE="http://localhost:8001"
GROQ_API_KEY="your-groq-api-key"
TAVILY_API_KEY="your-tavily-api-key"
GATEWAY_URL="http://localhost:8000"

AWS_ACCESS_KEY_ID="your-aws-access-key-id"
AWS_SECRET_ACCESS_KEY="your-aws-secret-access-key"
AWS_REGION="your-aws-region"
AWS_BUCKET_NAME="your-aws-s3-bucket-name"

OPENROUTER_API_KEY="your-openrouter-api-key"
QDRANT_URL="your-qdrant-url"
QDRANT_API_KEY="your-qdrant-api-key"
REDIS_URL="redis://127.0.0.1:6379"
INTERNAL_API_KEY="your-shared-internal-service-key"
